Package: enigma2-plugin-extensions-ciplus-helper-openpli
Version: 1.0
Description: CI+ helper for openPLI
Section: base
Priority: optional
Maintainer: OE-Core Developers <openembedded-core@lists.openembedded.org>
License: *
Architecture: all
Recommends: update-rc.d
