Package: enigma2-plugin-extensions-ci_plus_helper-openpli8.x
Version: 4
Description: CI+ helper for openPLI 8.x/develop
Section: base
Priority: optional
Maintainer: OE-Core Developers <openembedded-core@lists.openembedded.org>
License: CLOSED
Architecture: all
Recommends: update-rc.d
Depends:
